.playlists-detail{
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position: center;
        background-size: cover;
        height: 400px;
        margin-bottom: 40px;
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: $light;
            text-shadow: 0px 0px 3px rgba(22, 22, 22, 0.815);
            background-color: rgba(245, 245, 245, 0.226);
            margin-bottom: 25px;
            padding:20 0px;
            h1{
                font-size: 4.2rem;
            }
            h4{
                margin:0;
                font-size: 1.5rem;
            }
        }
        button{
            background: $fourth;
            color: $light;
            border: none;
            border-radius: 4px;
            min-width: 60px;
            padding: 8px;
            font-family: $text;
            text-transform: lowercase;
            cursor: pointer;
            &:hover{
                background-color: $fifth;
            }                    
        }
        .buttons{
            display: none;
            a {
                button{
                    background: $fourth;
                    color: $light;
                    border: none;
                    border-radius: 4px;
                    min-width: 60px;
                    padding: 8px;
                    font-family: $text;
                    text-transform: lowercase;
                    cursor: pointer;
                    &:hover{
                        background-color: $fifth;
                    }                    
                }
                &:nth-of-type(2){
                    button{ 
                        background-color: $dark;
                        color: $light;
                        &:hover{
                            background-color: $light;
                            color: $dark;
                        }
                    }                
                }            
            }                        
        }
        @media (max-width: 768px){
            height: 250px;
            margin-bottom: 20px;
            .text{
                h1{
                    font-size: 2.0rem;
                }
                h4{
                    font-size: 1rem;
                }
            }            
        }
    }
    .content{
        width: 70%;
        margin: 0 auto;
        h3{
            margin-bottom: 30px;
            color: $second;
        }
        .list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 40px;
            margin-bottom: 40px;
            box-shadow: 0px 0px 4px rgba(60, 60, 60, 0.3);
            .tracklist{
                width: 30%;
                padding-left: 0;
                list-style: none;
                .tracklist-header{
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    i{
                        font-size: 1.8rem;
                        color: $fourth;
                        cursor: pointer;
                        &:hover{
                           color:$fifth; 
                        }
                    }
                    span{
                        margin-left: 25px;
                        color: $dark;
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
                li{
                    display: flex;
                    justify-content: space-between;
                    .track-info{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        font-size: 1.2rem;
                        text-transform: capitalize;
                        span{
                            font-size: 0.7rem;
                        }
                        &:hover{
                            color: $third;
                        }                      
                    }
                    .material-icons {
                        cursor: pointer;
                        &:hover{
                            color: $fourth;
                        }
                    } 
                }                
            }            
            article{
                width: 70%;
                margin-left: 50px;
                padding: 0 20px;
                .description{
                    margin-bottom: 50px;
                    .tags{
                        display: flex;
                        h3{
                            cursor: pointer;
                            margin-right: 20px;
                            &:hover{
                            background-color: $third;
                            color: $light;
                        
                            }                 
                        }        
                    }
                    p{
                        margin: 0;
                    } 
                }     
                .add-songs{
                    form{
                        display: flex;
                        flex-direction: column;
                        label.hide {
                            display: none;
                        }
                        input{
                            background-color:white;
                            font-size:1rem;
                            padding: 8px;
                            margin-bottom: 10px;               
                            border: 1px solid $second;
                        }
                        input[type=submit]{
                            background-color: $fourth;
                            height: fit-content;
                            border: none;
                            cursor: pointer;
                            font-size: 0.9rem;
                            padding: 5px;
                            border-radius: 4px;
                            width: 100px;
                            color: $light;
                            &:hover{
                                background-color: $fifth;
                                color: $light;
                            }
                        }
                    }
                }   
            }           
        }    
        .comments{
            box-shadow: 0px 0px 4px rgba(60, 60, 60, 0.3);
            padding: 40px;
            .comment-add{
                margin-bottom: 40px;
                form{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: 10px;
                    label{
                        display: none;
                    }
                    textarea{
                        margin-bottom: 10px;
                        border: 1px solid $second;
                        height: 80px;
                        resize: none;
                        font-family: $text;
                        padding: 10px;               
                    }
                    input[type=submit]{
                        background-color: $fourth;
                        border:none;
                        color: $light;
                        border-radius: 4px;
                        font-family: $text;
                        cursor: pointer;
                        padding: 5px;
                        width: 100px;
                        &:hover{
                            background-color: $fifth;
                        }
                    }
                }
                span{
                    font-size: 0.9rem;  
                    a{
                        color: $fifth;
                    }
                }
            }
            .comment-list{
                .comment{
                    border-top: 1px solid $second;
                    padding: 20px 0;
                    h4,p{
                        margin:0;
                    }
                    .comment-header{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-bottom: 10px;
                    }
                } 
            }
                   
        }
        @media (max-width: 768px){
            width: 90%;
            .list,.comments{
                padding: 20px;
                h3{
                    font-size: 1.3rem;
                    margin-bottom: 10px;
                }
            }
            .list {
                flex-direction: column;
                .tracklist{
                    width: 100%;
                    margin-bottom: 30px;
                }
                article{
                    width: 100%;
                    margin: 0;
                    margin-bottom: 40px;
                    padding: 0;
                    margin: 0;
                    h3 {
                        font-size: 1rem;
                        letter-spacing: 0.2rem;
                    }
                }
            } 
            .comments{
                .comment-add{
                    margin-bottom: 20px;
                }
            }         
        } 
    }    
}

