$light: #f5f5f5;
$dark: #0F1108;
$first: #088508;
$secondary: #631D76;
$third: #9932cc;

@import 'navbar';
@import 'home';
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Open+Sans&display=swap');

body{
    background-color: $light;
    font-family: 'Open Sans', sans-serif;
    margin: 0
}

h1,h2,h3{
    font-family: 'Cinzel Decorative', cursive;
}

footer{
    height: 10px;
    margin-top: 10px;

}

