{% extends '../modal.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<h1>Set up a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {% for field in form %}
  
  <fieldset>
    {{ field.label_tag }}
    {{ field }}
    <!-- {% if field.help_text %}
    <small style="color: grey">{{ field.help_text }}</small>
    {% endif %} -->
  </fieldset>
  {% for error in field.errors %}
  <p style="color: red; margin:0;">{{ error }}</p>
  {% endfor %}

  {% endfor %}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}