.auth-iframe {
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 7px 20px 2px rgba(0,0,0,.4);
    height: 750px;
    left: 50%;
    overflow: hidden;
    pointer-events: all;
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 750px;
    z-index: 111;

    .close-modal{
        position: absolute;
        color: rgba(0, 0, 0, 0.6);
        background: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        border: none;
        padding: 0;
        right: 30px;
        top: 16px;
        cursor: pointer;
        &:hover{
            background: rgba(255, 255, 255, 0.3);
        }
    }

    iframe {
        height: 100%;
        width: 100%;
    }
}