@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  height: 50px; }
  nav ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
    nav ul li {
      display: flex;
      align-items: center;
      padding: 0 20px;
      color: #641d77; }
      nav ul li:hover {
        background-color: #9932cc;
        color: #f5f5f5; }

.playlists-home .display {
  background-image: url("img/guitarman.jpg");
  background-position: center;
  background-size: 100%;
  height: 200px;
  padding: 50px 0; }
  .playlists-home .display .display-jenny {
    background-color: rgba(245, 245, 245, 0.225);
    padding: 10px 0; }
    .playlists-home .display .display-jenny .display-jackie {
      color: #f5f5f5;
      text-shadow: 0px 0px 2px rgba(30, 30, 30, 0.8);
      width: 70%;
      margin: 0 auto;
      padding-left: 40px; }
      .playlists-home .display .display-jenny .display-jackie h1 {
        font-size: 3.3rem; }
      .playlists-home .display .display-jenny .display-jackie span {
        font-size: 1.8rem; }

.playlists-home .catalog {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-between; }
  .playlists-home .catalog .catalog-list {
    display: flex;
    flex-direction: column;
    width: 70%; }
    .playlists-home .catalog .catalog-list ul li {
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 40px;
      box-shadow: 0px 0px 4px rgba(60, 60, 60, 0.3);
      border-radius: 4px; }
      .playlists-home .catalog .catalog-list ul li a, .playlists-home .catalog .catalog-list ul li h4 {
        color: #641d77;
        text-decoration: none;
        text-shadow: 0px 0px 2px rgba(170, 170, 170, 0.2); }
    .playlists-home .catalog .catalog-list .catalog-create {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      box-shadow: -1px 0px 2px rgba(200, 200, 200, 0.5);
      height: 60px; }
      .playlists-home .catalog .catalog-list .catalog-create form {
        display: flex;
        width: 100%; }
        .playlists-home .catalog .catalog-list .catalog-create form label {
          display: none; }
        .playlists-home .catalog .catalog-list .catalog-create form input {
          font-family: 'Open Sans', sans-serif;
          border: none;
          border-radius: 4px;
          margin: 10px;
          padding: 10px;
          box-shadow: -1px 0px 2px rgba(200, 200, 200, 0.5); }
          .playlists-home .catalog .catalog-list .catalog-create form input:nth-of-type(2) {
            width: 80%;
            background-color: white;
            color: #0F1108; }
          .playlists-home .catalog .catalog-list .catalog-create form input:nth-of-type(3) {
            width: 20%;
            background-color: #9932cc;
            color: #f5f5f5; }
          .playlists-home .catalog .catalog-list .catalog-create form input:focus {
            outline: none; }
  .playlists-home .catalog .catalog-sidebar {
    width: 20%;
    box-shadow: 0px 0px 4px rgba(60, 60, 60, 0.3);
    border-radius: 4px;
    margin-bottom: 25px;
    border: 1px solid #641d77; }
    .playlists-home .catalog .catalog-sidebar .header {
      background-color: #641d77;
      color: #f5f5f5;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 13px; }
    .playlists-home .catalog .catalog-sidebar .content {
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      padding: 20px; }
      .playlists-home .catalog .catalog-sidebar .content h4 {
        font-size: 1.3rem;
        background-color: #9932cc;
        text-align: center;
        color: #f5f5f5;
        padding: 3px; }
      .playlists-home .catalog .catalog-sidebar .content li {
        margin: 10px 0; }

.playlists-detail .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("img/guitarman.jpg");
  background-position: center;
  height: 400px;
  margin-bottom: 40px; }
  .playlists-detail .header .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #f5f5f5;
    text-shadow: 0px 0px 3px rgba(22, 22, 22, 0.815);
    background-color: rgba(245, 245, 245, 0.226);
    margin-bottom: 25px;
    padding: 20px; }
    .playlists-detail .header .text h1 {
      font-size: 4.2rem; }
    .playlists-detail .header .text h4 {
      margin: 0;
      font-size: 1.5rem; }
  .playlists-detail .header .buttons button {
    background: #9932cc;
    color: #f5f5f5;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    text-transform: lowercase; }

.playlists-detail .content {
  width: 70%;
  margin: 0 auto; }
  .playlists-detail .content .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 4px rgba(60, 60, 60, 0.3); }
    .playlists-detail .content .list ol {
      width: 30%;
      margin: 0;
      padding: 0;
      list-style-position: inside; }
      .playlists-detail .content .list ol li {
        margin-bottom: 10px;
        font-size: 1.4rem;
        text-transform: capitalize; }
    .playlists-detail .content .list article {
      width: 70%; }
  .playlists-detail .content .comments {
    box-shadow: 0px 0px 4px rgba(60, 60, 60, 0.3);
    padding: 40px; }
    .playlists-detail .content .comments form {
      display: flex;
      flex-direction: row;
      width: 100%; }
      .playlists-detail .content .comments form label {
        display: none; }
      .playlists-detail .content .comments form textarea {
        border: 1px solid #641d77;
        width: 90%;
        height: 80px;
        resize: none;
        font-family: "Open Sans", sans-serif;
        padding: 10px; }
        .playlists-detail .content .comments form textarea:focus {
          outline: none; }
      .playlists-detail .content .comments form .input-submit {
        border: 1px solid #641d77;
        font-family: "Open Sans", sans-serif;
        width: 10%; }
    .playlists-detail .content .comments .comment {
      border-bottom: 1px solid #641d77; }

.playlists-detail .add-songs {
  display: none; }

.users-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 50px auto; }
  .users-detail .user-catalog {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .users-detail .user-catalog .user-favorites, .users-detail .user-catalog .user-playlists {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      box-shadow: 0px 0px 4px rgba(60, 60, 60, 0.3); }
    .users-detail .user-catalog .user-playlists {
      background-color: #088508; }
    .users-detail .user-catalog .user-favorites {
      background-color: #9932cc; }
    .users-detail .user-catalog li {
      list-style: none; }
  .users-detail .user-comments {
    margin-top: 100px;
    width: 100%; }
    .users-detail .user-comments li {
      list-style: none; }

body {
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

h1, h2, h3 {
  font-family: "Bebas Neue", cursive;
  margin: 0;
  letter-spacing: 0.6rem;
  font-size: 1.6rem; }

a {
  text-decoration: none;
  cursor: pointer; }

footer {
  height: 10px;
  margin-top: 10px; }

/*# sourceMappingURL=main.css.map */