@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.auth-redirect {
  width: 75%;
  margin: 0 auto;
  text-align: center; }
  .auth-redirect p {
    font-size: 1.2rem; }
    .auth-redirect p .user {
      font-weight: 700;
      color: #641d77; }
  .auth-redirect .loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #641d77, 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2), 2.5em 0em 0 0em rgba(100, 29, 119, 0.2), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.2), 0em 2.5em 0 0em rgba(100, 29, 119, 0.2), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.2), -2.6em 0em 0 0em rgba(100, 29, 119, 0.5), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.7), 1.8em -1.8em 0 0em #641d77, 2.5em 0em 0 0em rgba(100, 29, 119, 0.2), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.2), 0em 2.5em 0 0em rgba(100, 29, 119, 0.2), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.2), -2.6em 0em 0 0em rgba(100, 29, 119, 0.2), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.5), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.7), 2.5em 0em 0 0em #641d77, 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.2), 0em 2.5em 0 0em rgba(100, 29, 119, 0.2), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.2), -2.6em 0em 0 0em rgba(100, 29, 119, 0.2), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.2), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.5), 2.5em 0em 0 0em rgba(100, 29, 119, 0.7), 1.75em 1.75em 0 0em #641d77, 0em 2.5em 0 0em rgba(100, 29, 119, 0.2), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.2), -2.6em 0em 0 0em rgba(100, 29, 119, 0.2), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.2), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2), 2.5em 0em 0 0em rgba(100, 29, 119, 0.5), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.7), 0em 2.5em 0 0em #641d77, -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.2), -2.6em 0em 0 0em rgba(100, 29, 119, 0.2), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.2), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2), 2.5em 0em 0 0em rgba(100, 29, 119, 0.2), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.5), 0em 2.5em 0 0em rgba(100, 29, 119, 0.7), -1.8em 1.8em 0 0em #641d77, -2.6em 0em 0 0em rgba(100, 29, 119, 0.2), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.2), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2), 2.5em 0em 0 0em rgba(100, 29, 119, 0.2), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.2), 0em 2.5em 0 0em rgba(100, 29, 119, 0.5), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.7), -2.6em 0em 0 0em #641d77, -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.2), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2), 2.5em 0em 0 0em rgba(100, 29, 119, 0.2), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.2), 0em 2.5em 0 0em rgba(100, 29, 119, 0.2), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.5), -2.6em 0em 0 0em rgba(100, 29, 119, 0.7), -1.8em -1.8em 0 0em #641d77; } }

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #641d77, 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2), 2.5em 0em 0 0em rgba(100, 29, 119, 0.2), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.2), 0em 2.5em 0 0em rgba(100, 29, 119, 0.2), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.2), -2.6em 0em 0 0em rgba(100, 29, 119, 0.5), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.7), 1.8em -1.8em 0 0em #641d77, 2.5em 0em 0 0em rgba(100, 29, 119, 0.2), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.2), 0em 2.5em 0 0em rgba(100, 29, 119, 0.2), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.2), -2.6em 0em 0 0em rgba(100, 29, 119, 0.2), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.5), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.7), 2.5em 0em 0 0em #641d77, 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.2), 0em 2.5em 0 0em rgba(100, 29, 119, 0.2), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.2), -2.6em 0em 0 0em rgba(100, 29, 119, 0.2), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.2), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.5), 2.5em 0em 0 0em rgba(100, 29, 119, 0.7), 1.75em 1.75em 0 0em #641d77, 0em 2.5em 0 0em rgba(100, 29, 119, 0.2), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.2), -2.6em 0em 0 0em rgba(100, 29, 119, 0.2), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.2), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2), 2.5em 0em 0 0em rgba(100, 29, 119, 0.5), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.7), 0em 2.5em 0 0em #641d77, -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.2), -2.6em 0em 0 0em rgba(100, 29, 119, 0.2), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.2), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2), 2.5em 0em 0 0em rgba(100, 29, 119, 0.2), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.5), 0em 2.5em 0 0em rgba(100, 29, 119, 0.7), -1.8em 1.8em 0 0em #641d77, -2.6em 0em 0 0em rgba(100, 29, 119, 0.2), -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.2), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2), 2.5em 0em 0 0em rgba(100, 29, 119, 0.2), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.2), 0em 2.5em 0 0em rgba(100, 29, 119, 0.5), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.7), -2.6em 0em 0 0em #641d77, -1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(100, 29, 119, 0.2), 1.8em -1.8em 0 0em rgba(100, 29, 119, 0.2), 2.5em 0em 0 0em rgba(100, 29, 119, 0.2), 1.75em 1.75em 0 0em rgba(100, 29, 119, 0.2), 0em 2.5em 0 0em rgba(100, 29, 119, 0.2), -1.8em 1.8em 0 0em rgba(100, 29, 119, 0.5), -2.6em 0em 0 0em rgba(100, 29, 119, 0.7), -1.8em -1.8em 0 0em #641d77; } }

body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Open Sans", sans-serif; }
  body .header {
    height: 220px;
    background-image: url("img/vinyl-headphone.jpg");
    background-size: cover;
    background-position: center; }
  body .content {
    width: 70%;
    margin: 30px auto; }
    body .content form {
      padding: 10px; }
      body .content form fieldset {
        position: relative;
        margin: 10px 0;
        background-color: #fff;
        border-radius: 4px;
        height: 35px;
        padding: 15px 0 5px 0; }
        body .content form fieldset label {
          position: absolute;
          font-size: 1.1rem;
          top: 0;
          margin-top: 20px;
          margin-left: 5px;
          transition: all .3s ease-out;
          -webkit-transition: all .3s ease-out;
          -moz-transition: all .3s ease-out; }
          body .content form fieldset label.label-tiny {
            font-size: 0.7rem;
            margin-top: 3px;
            color: #323031;
            font-weight: 700;
            text-transform: lowercase; }
            body .content form fieldset label.label-tiny.focused {
              color: #F35B04; }
        body .content form fieldset input {
          border: 0;
          padding: 0;
          margin-left: 5px;
          width: 90%;
          height: 100%;
          outline: none;
          font-size: 1.1rem;
          transition: all .3s ease-out;
          -webkit-transition: all .3s ease-out;
          -moz-transition: all .3s ease-out;
          -webkit-appearance: none; }
          body .content form fieldset input::placeholder {
            color: transparent; }
          body .content form fieldset input:focus + label {
            color: #3951b2; }
      body .content form input[type=submit] {
        border-radius: 4px;
        width: 100%;
        background-color: #F18701;
        color: #323031;
        border: none;
        height: 50px;
        cursor: pointer;
        font-size: 1rem; }
        body .content form input[type=submit]:hover {
          background-color: #F35B04;
          color: #f5f5f5; }
    body .content h1, body .content h2, body .content h3 {
      font-family: "Bebas Neue", cursive;
      margin: 0;
      padding: 10px;
      letter-spacing: 0.2rem;
      font-size: 1.7rem; }
    body .content p {
      padding: 10px; }
      body .content p a {
        color: #641d77;
        font-weight: 700;
        text-decoration: none; }

/*# sourceMappingURL=modal.css.map */