nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    ul {
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display: flex;
            align-items: center;
            padding: 0 20px;
            color: $second;
            &:hover{
                background-color: $third;
                color: $light;
            }
        }
    }
}