.main-nav {
    display: flex;
    background-color: $light;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    .brand{
        margin-left: 40px;
        font-family: $decorative;
        color: $third;
        background-color: $light;
        box-shadow: 0px 0px 4px rgba(60, 60, 60, 0.3);
        text-shadow: 0px 0px 2px rgba(30, 30, 30, 0.3);
        font-size: 1.4rem;
        border-top: 2px solid $third;
        border-right: 2px solid $third;
        border-bottom: 2px solid $third;
        border-left: 2px solid $third;
        border-radius: 20%;
        padding: 0 5px;
        transform: rotate(359deg);
        &:hover{
            color: $second;
            border-top: 2px solid $second;
            border-right: 2px solid $second;
            border-bottom: 2px solid $second;
            border-left: 2px solid $second;
        }
    }
    .material-icons{
        margin-right: 40px;
        display: none;
    }
    .material-icons,li{
        color: $dark;
        cursor:pointer;
        &:hover{
            color: $third;
        }
    }
    ul {
        margin-right: 40px;
        list-style: none;
        display: flex;
        li{
            padding: 0 20px;
        }
    }
    @media (max-width: 600px){
        ul{
            display: none;
        }
        .material-icons{
            display: block;
        }
    }
}
.navbar-toggle{
    display: none;
    position: absolute;
    height: fit-content;
    width: 100px;
    right: 10px;
    padding:20px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $dark;
    .nav-toggle-link {
        display: block;
        color: $light;
        cursor:pointer;
        text-align: left;
        &:hover{
            color: $third;
        }
    }      
}