{% extends "../layout.html" %}

{% block title %}
Playlists - {{pl.title}}
{% endblock %}

{% block content %}
    <h1>{{pl.title}}</h1>
    <h4>created by {{pl.user_id}}</h4>

    <ol>
        {% for s in songs %}
            <li>{{s.title}}</li>
        {% endfor %}
    </ol>

    {%if user == pl.user_id%}
    <h3>Add new songs</h3>
    <form action="/playlists/detail/{{pl.id}}" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="add">
    </form>
    {%endif%}
{% endblock %}


