{% extends "../layout.html" %}
{% block title %}
Playlists - {{pl.title}}
{% endblock %}
{% block content %}

    <h1>{{pl.title}}</h1>
    <h4>created by {{pl.user_id}}</h4>
    <form action="{% url 'users-addtofav' pl.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Add to favorites</button>
    </form>

    <ol>
        {% for s in songs %}
            <li>{{s.title}}</li>
        {% endfor %}
    </ol>

    {%if user == pl.user_id%}
    <button>Add new songs</button>    
    <h3> Add new songs</h3>
    <form action="{% url 'playlists-detail' id=pl.id %}" method="post">
        {% csrf_token %}
        {{song_form}}
        <input type="submit" value="add">
    </form>
    {%endif%}

    <article>
        {{pl.description}}
    </article>

    <section class="comments">
        <form action="{% url 'comments-create' pl.id%}" method="post">
            {% csrf_token %}
            {{comment_form}}
            <input type="submit" value="submit">
        </form>
        <h2>comments</h2>
        {%for c in comments%}
        <div class="comment">
            <h4>{{c.user}}</h4>
            <p>{{c.text}}</p>
        </div>
        {%endfor%}

    </section>



{% endblock %}


