{% extends "../layout.html" %}

{% block title %}
The best playlists
{% endblock %}

{% block content %}
<section class="display">
    <div class="display-text">
        <h3>hot this week:</h3>
        <h1> <a href="{% url 'playlists-detail' pl.first.pk %}">{{pl.first}}</a></h1>
    </div>
    
    <div class="create">
        <form action="{% url 'playlists-create' %}" method="post">
            {%csrf_token%}
            {{form}}
            <input type="submit" value="create playlist">
        </form>    
    </div>
</section>



<section class="catalog">
    <h3>new playlists:</h3>
    <ul>
        {% for p in pl.all%}
        <li style="background-image: url('/static/playlists/img/DSCF0321.JPG');background-size: 100%;">
            <h3><a href="{% url 'playlists-detail' p.pk %}">{{p.title}}</a></h3>
            <h4>by {{p.user_id}}</h4>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
