{% extends "../layout.html" %}

{% block title %}
Playitt
{% endblock %}

{% block content %}
<div class="playlists-home">
    <section class="display" style="background-image: url(/static/img/{{object_list.first.genres.first}}-header.jpg);">
        <div class="display-jenny">
            <div class="display-jackie">
                <span>hot this week</span>
                <a href="{% url 'playlists-detail' object_list.first.pk %}"><h1> {{object_list.first}}</h1></a>
            </div>            
        </div> 
    </section>

    <section class="catalog">
        <div class="catalog-list">
            <div class="catalog-create">
                <form action="{% url 'playlists-create' %}" method="post">
                    {%csrf_token%}
                    {{form}}
                    <input type="submit" value="create">
                </form>    
            </div>
            <ul>
                {% for p in object_list.all%}
                <li class="playlist-card">
                    <div class="header">
                        <div class="header-text">
                            <a class="playlist-link" href="{% url 'playlists-detail' p.pk %}"><h3>{{p.title}}</h3></a>
                            <h4>by {{p.user.username}}</h4>
                        </div>
                        <span>
                            {{p.profile_set.count}}<i class="material-icons">stars</i>
                        </span>
                    </div>

                    <p> featuring
                    {% for s in p.songs.all|slice:":5"  %}
                        {{s.artist}},
                    {% endfor %}
                        and more
                    </p>
                    <a class="playlist-link" href="{% url 'playlists-detail' p.pk %}#vue-comments">
                        <span>{{p.comment_set.count}} {{ p.comment_set.count|pluralize:"comment,comments" }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="catalog-sidebar">
                <div class="header">
                    <h2>what music do you love?</h2>
                </div>
                <div class="content">
                    <h4>genres</h4>
                    <ul>
                        {%for g in genres%}
                            <li><a href="{% url 'playlists-genre-list' g.name %}">{{g.name}}</a></li>
                        {%endfor%}                    
                    </ul>
                    {% if user.username %}
                    <h4>creations</h4>
                    <ul>
                        {%for g in user.playlist_set.all%}
                            <li><a href="{% url 'playlists-detail' g.pk %}">{{g.title}}</a></li>
                        {%endfor%}                    
                    </ul>
                    <h4>favourites</h4>
                    <ul>
                        {%for g in user.profile.favorites.all%}
                            <li><a href="{% url 'playlists-detail' g.pk %}">{{g.title}}</a></li>
                        {%endfor%}                    
                    </ul>
                    {% endif %}
                </div>          

 
            </div>
        </div>
    </section>
</div>

<script>
    var jenny = document.querySelectorAll(".playlist-card"),
        jackie = document.querySelectorAll(".playlist-link")
        for (let i = 0; i < jenny.length; i++) {
            console.log(jenny[i],jackie[i])
            jenny[i].addEventListener("click", () => {window.location = jackie[i].getAttribute('href');return true})     
        }
</script>

{% endblock %}
