{% extends "../layout.html" %}
{% load static %}
{% block title %}
Playlists - {{object.title}}
{% endblock %}
{% block content %}
<div class="playlists-detail">
    <section class="header">
        <div class="text">
            <h1>{{object.title}}</h1>
            <a href="{% url 'playlists-user-list' object.user.username %}"><h4>created by {{object.user.username}}</h4></a>
        </div>
        <div class="buttons">
            {%if user == object.user%}
            
            {% else %}
            <form action="{% url 'users-addtofav' object.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Add to favorites</button>
            </form>
            {%endif%}
        </div>     
    </section>

    <section class="content">
        <div class="list" id="vue-playlist">            
            <div class="tracklist">
                <h3>Tracklist</h3>
                <ol>
                    <vtracklist 
                        v-for="s in songs"
                        v-bind:key="s.title"
                        v-bind:title='s.title'
                        v-bind:album='s.album'
                        v-bind:artist='s.artist'>                            
                    </vtracklist>
                </ol>             
            </div>                        
            <article>
                <vpldescription :description="description" :genres="genres"></vpldescription>
                {% if user == object.user%}
                <vsongadder @added="getSongs"></vsongadder>
                {% endif %} 
            </article>
        </div>    
        <section class="comments">
            <h3>comments</h3>       
            <form action="{% url 'comments-create' object.id%}" method="post">
                {% csrf_token %}
                {{comment_form}}
                <input class="input-submit" type="submit" value="submit">
            </form>
            <span>to join the discussion, <a href="{% url 'login' %}">login</a> or <a href="{% url 'users-create' %}">create an account.</a></span>
            {%for c in object.comment_set.all%}
            <div class="comment">
                <h4>{{c.user}}</h4>
                <p>{{c.text}}</p>
            </div>
            {%endfor%}
        </section>
    </section>  
</div>

<script src="{% static 'vue/playlist_detail.js' %}"></script>
{% endblock %}


