<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists - My Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li> <a href="./index.html">home</a></li>
            <li><a href="./catalog.html">catalog</a></li>
            <li><a href="./profile.html">my profile</a></li>
            <li><a href="./new-playlist.html">new playlist</a></li>
            <li><a href="./new-user.html">new user</a></li>
        </ul>
    </nav>
    <h1>My Profile</h1>
</body>
</html>